/.vscode
/canal-client/.idea
/canal-client/*.DS_Store
/canal-client/*.classpath
/canal-client/*.project
/canal-client/.settings
/canalclient/.idea
/canal-client/.vscode
/canal-client/target
/python_sync_nosql/.pytest_cache/v/cache
/python_sync_nosql/__pycache__
